body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: ivory;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:ivory;
}

h1 {
    color: #333;
}
p {
    color: #666;
    margin-bottom: 20px;
}
button {
    padding: 10px 20px;
    border: none;
    background-color: #075ab4;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
button:hover {
    background-color: #0576ed;
}
